<% provide :title, t("about") %>
<h1><%= t "About"%></h1>
<p>
  <%= t ".the" %>
  <a href="http://www.railstutorial.org/">
  <em><%= t ".ruby3" %></em></a> <%= t ".is" %>
  <a href="http://www.railstutorial.org/book"><%= t ".b" %></a>
  <%= t ".a" %>
  <a href="http://screencasts.railstutorial.org/">
  <%= t ".scr" %></a>
  <%= t ".to" %>
  <a href="http://rubyonrails.org/"><%= t ".rub" %></a>.
  <%= t ".this" %>
</p>
